@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Special+Elite&display=swap');

/* ------ GENERAL STYLING ------ */
* {
  box-sizing: border-box;
}

#bg-img {
  background: url(../images/giant-head-bg.png) center center no-repeat;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: 'Special Elite', cursive;
  font-weight: 300;
  font-size: 110%;
  color: whitesmoke;
}

.bg-overlay {
  background-color: rgba(219, 68, 55, .9);
  padding: 3%;
  border-radius: 10px;
  width: 80%;
  max-height: 80%;
  margin: 5% auto;
}

.text-bold {
  font-weight: 200%;
  font-size: 120%;
}

/* ------ HEADINGS ------ */
h1, h2 {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

h1 {
  font-family: 'Road Rage', cursive;
  font-size: 300%;
  text-align: center;
  /* glowing effect */
  animation: text-glow 1s ease-in-out infinite;
}

/* creates colors of glowing effect on text
credits: https://www.w3schools.com/howto/howto_css_glowing_text.asp
*/
@-webkit-keyframes text-glow {
  from{
    text-shadow: 0 0 10px whitesmoke,0 0 20px whitesmoke,
    0 0 30px #e60073,0 0 40px #e60073,0 0 50px #e60073,
    0 0 60px #e60073,0 0 70px #e60073;
  }
  to{
    text-shadow: 0 0 20px whitesmoke,0 0 30px #ff4da6,
    0 0 40px #ff4da6,0 0 50px #ff4da6,0 0 60px #ff4da6,
    0 0 70px #ff4da6,0 0 80px #ff4da6;
  }
}

/* ------ BUTTONS ------ */
.btn {
  margin: 5px;
  border: solid 2px #f5f5f5;
}
.btn-group-vertical {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
}

.btn-play,
.selected,
#btn-submit {
  background-color: rgb(15, 157, 88);
}

.btn-back {
  background-color: rgb(244, 180, 0);
}

.btn-blue {
  background-color: rgb(66, 133, 244);
}

/* Glowing buttons
  Credits: https://www.w3docs.com/snippets/css/how-to-create-flashing-glowing-button-using-animation-in-css3.html */
@keyframes glowing {
  0% {
    background-color: rgb(15, 157, 88);
    box-shadow: 0 0 5px rgb(15, 157, 88);
  }
  50% {
    background-color: rgb(20, 157, 15);
    box-shadow: 0 0 20px rgb(20, 157, 15);
  }
  100% {
    background-color: rgb(15, 157, 88);
    box-shadow: 0 0 5px rgb(15, 157, 88);
  }
}

.btn-glowing {
  -webkit-animation: glowing 1300ms infinite;
}

#btn-contact-group {
  padding-top: 1%;
}

/* ------ GAME RULES ------ */
#rules-detail {
  margin: 1% 2%;
  padding: 1%;
}

/* ------ CONTROL PANEL ------ */
#mode-select,
#level-select,
#start-game {
  padding-bottom: 2%;
}

/* ------ GAME ARENA ------ */
#game-board {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1%;
  justify-content: center;
  margin: 0 auto;
  border-radius: 10px;
  padding-bottom: 5%;
}

.game-card {
  display: flex;
  position: relative;
  max-width: 100%;
  padding: 2%;
  cursor: pointer;
  background: #e5e5e5;
  border-radius: 10px;
}

/* ------ MESSAGES WHEN GAME ENDS ------ */
.img-msg {
  height: 30px;
}

#messages {
  text-align: center;
  width: fit-content;
  margin: auto;
}

/* ------ CONTACT AREA ------ */
#contact-area {
  text-align: center;
}

/* ------ RESPONSIVENESS ------ */
@media screen and (max-width: 600px) {
  .scroll-content {
    height: 90vh;
    overflow-y: scroll;
  }
}

.leader {
  animation: text-glow 1s ease-in-out infinite;
}